<h1><%= @place["name"] %></h1>

<% for entry in @entries %>
  <div class="entry">
    <h2><%= entry["title"] %></h2>
    <h3>Posted on: <%= entry["posted_on"] %></h3>
    <h3>Description: <%= entry["description"] %></h3>
  </div>
<% end %>

<p><a href="/entries/new">New Post</a></p>
